# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/

# Ignore environment variables
.env

# Ignore dependencies
node_modules/

# Ignore IDE settings
.idea/